{% extends "admin_base.html" %}
{% block content %}
{{super()}}
<div class="info-wrapper">
    <h1>О себе : </h1>
    <div class="info">
        <img src="/admin/static/images/me.jpg" width="400px">
        <div class="about">
            <h2>Рябцев Николай Палович</h2>
            <b>Дата рождения : 05.10.2001</b>
            <br>

            <b>г. Брянск</b>
            <p>Немного о себе - родился и вырос в г. Брянске. Ходил в детский сад Морженок, после чего в возрасте 6 лет
                после садика стал посещать нулевку, а по достижению возраста 7 лет - пошел в 1 класс.
                В школе быстро нашел друзей и товарищей, мы часто любили бегать по коридорам мимо дежурных, чтобы они
                нас догоняли. По достижению 5 класса начались дежурства в столовке, с тех пор я иногда мог позволить
                себе бесплатную булку, а то и две, ну тут как повезет, всё таки тётя Света глаз с нас не спускала.
                Также достаточно часто мы любили зимой играть в царя горы - заелезали толпой на кучу снега, образованную
                в результате чистки подхода к крыльцу, а потом давай толкаться. После окончания 9-ти классов я поступил
                в ГБПОУ БППК, там я проучился 4 года, после чего успешно выпустился и поступил в БГИТУ. Сейчас я
                обучаюсь на 2-ом курсе, а это моя курсовая.</p>
        </div>

    </div>
    <center>
        <h1>Супер - видео: </h1>
        <iframe width="1060" height="620" src="https://www.youtube.com/embed/L1UBd1lQHAg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
</div>
{% endblock %}