{% extends "admin_base.html" %}
{% block content %}
{{super()}}
<div class="add-post">
    <h1>Изменить информацию о блюде</h1>
    <form action="" method="post" name="update_dish">
        {{FlaskForm.hidden_tag()}}
        <p>
            Пожалуйста, введите название блюда:<br>
            {{FlaskForm.name(size=40)}}<br>
        </p>
        <p>
            Пожалуйста, введите описание блюда:<br>
            {{FlaskForm.description(size=40)}}<br>
        </p>
        <p>
            Пожалуйста, укажите цену блюда:<br>
            {{FlaskForm.price(size=40)}}<br>
        </p>
        <p>
            Пожалуйста, укажите абсолютный адрес фотографии:<br>
            {{FlaskForm.photo(size=40)}}<br>
        </p>
        <div class="but">
            <p>{{FlaskForm.submit}}</p>
        </div>
        <div class="na">
            <a href="{{url_for('.delete_dishes')}}">Назад</a>
        </div>
    </form>
</div>
{% endblock %}