{% extends "admin_base.html" %}
{% block content %}
{{super()}}
<div class="add-post">
    <h1>Изменить пост</h1>
    <form action="" method="post" name="update_post">
        {{FlaskForm.hidden_tag()}}
        <p>
            Пожалуйста, введите заголовок поста:<br>
            {{FlaskForm.title(size=40)}}<br>
        </p>
        <p>
            Пожалуйста, введите текст поста:<br>
            {{FlaskForm.text(size=40)}}<br>
        </p>
        <div class="but">
            <p>{{FlaskForm.submit}}</p>
        </div>
        <div class="na">
            <a href="{{url_for('.delete_posts')}}">Назад</a>
        </div>
    </form>
</div>
{% endblock %}