{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <div class="do-order">
    {% for d in orders %}
        <h1>Заказ № {{ d.id}} принят в работу, с вами свяжутся - ожидайте</h1>
    {%  endfor %}
        <form action="" method="post" name="do_order" class="form">
            {{ FlaskForm.hidden_tag() }}
            <div class="form-group">
                <p>Введите ваше имя: </p>
                {{ FlaskForm.order_name(size=38) }}
                <p>Введите ваше номер телефона: <br></p>
                {{ FlaskForm.phone(size=38) }}
                <p>Введите ваш адрес: <br></p>
                {{ FlaskForm.adress(size=38) }}
            </div>
            <div class="form-group">
                <p>Пожалуйста, укажите блюдо 1:
                </p>
                <div class="select-field">{{ FlaskForm.dish1(size=3) }}</div>
            </div>

            <div class="form-group">
                <p>Пожалуйста, укажите блюдо 2:
                </p>
                <div class="select-field">{{ FlaskForm.dish2(size=3) }}</div>
            </div>
            <div class="form-group">
                <p>Пожалуйста, укажите блюдо 3:
                </p>
                <div class="select-field">{{ FlaskForm.dish3(size=3) }}</div>
            </div>
            <div class="form-group">
                <p>Пожалуйста, укажите блюдо 4:
                </p>
                <div class="select-field">{{ FlaskForm.dish4(size=3) }}</div>
            </div>
            <div class="form-group">
                <p>Пожалуйста, укажите блюдо 5:
                </p>
                <div class="select-field">{{ FlaskForm.dish5(size=3) }}</div>
            </div>
            <div class="wrap">
                <div class="order-but">
                    <p>{{ FlaskForm.submit1 }}</p>
                </div>
            <div class="form-group">
                {% if amo != 0 %}
                    <p>Итого к оплате:</p>
                    {{ amo }}
                {% endif %}
            </div>

            </div>
        </form>
    </div>
{% endblock %}